* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  padding: 20px;
}

.instruction {
  font-size: 20px;
  padding: 20px;
  color: gray;
}

#creator {
  padding: 20px;
  font-size: 20px;
}

#creator:empty::before {
  content: attr(data-placeholder);
}

#creator:focus {
  outline: none;
}

#my-headings {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

#my-headings:focus {
  outline: none;
}

/* Using media queries to adjust styles for different screen sizes to ensure responsiveness */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 32px;
    padding: 10px;
  }

  .instruction {
    font-size: 16px;
    padding: 10px;
  }

  #creator {
    padding: 10px;
    font-size: 18px;
  }

  #my-headings {
    font-size: 20px;
    padding: 10px;
  }
}
